# Change host user to your email for report screenshots and screen recordings
# Change the password to a google app password!
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_google_app_password